@media only screen and (max-width: 767px) {

.headerContainer{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color:  rgb(25,25,75); 
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 5vw 0px 5vw;
   

}

.headerContainer > p {
    margin: 0;
    font-size: clamp(12px , 5vw , 50px);
    font-family: 'druk_wide_boldbold';
}

.hamburgerButton{
    width: 10%;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
}

.hamburgerButton > div {
    background-color: #fff;
    width: 100%;
    height: 12.5%;
    border-radius: 2vw;
    transition: 0.5s ease-in-out;
}

.hamburgerButton.open .hamburgerButtonRow2{
    transform: translateX(-100%);
    background-color: transparent;
}

.hamburgerButton.open .hamburgerButtonRow1{
    transform:  rotate(-45deg) translate(-25%,175%);
}
.hamburgerButton.open .hamburgerButtonRow3{
    transform: rotate(45deg)  translate(-25%,-175%);
}

.hamburgerMenu{
    position:absolute;
    background-color: rgb(210,130,245);
    width: 75vw;
    height: 100vh;
    top: 10vh;
    box-sizing: border-box;
    right: -75vw;
    transition: 0.5s ease-in-out;
    opacity: 0;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5vh 5vw 5vh 5vw;



}

.hamburgerMenu.show{
transform: translate(-75vw);
opacity: 1;
}

.hamburgerMenu > button {
    width: 100%;
    height: 5%;
    margin-bottom: 7.5%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: clamp(15px, 8vw , 40px);
    text-align: end;
    font-family: "druk_wide_boldbold";
    font-weight:bolder;
}


}