html {
  background-color: rgb(25,25,75); 
  color:#fff;

}
body{
  padding: 0;
  margin: 0;
 font-family:monospace;
 font-size: 1rem;
}
.WebsiteContent{
  margin-top: 15vh;
  padding: 0px 5vw 0px 5vw;
  
}
@font-face {
  font-family: 'druk_wide_boldbold';
  src: url('../Fonts/webfontkit-20230219-025603/fontsfree-net-druk-wide-bold-webfont.woff2') format('woff2'),
       url('../Fonts/webfontkit-20230219-025603/fontsfree-net-druk-wide-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}